
.container{
    margin:0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
}
.container div h3{
     font-size:17px;
}
.container div{
    margin: 1rem;
}
.container div h2{
    color:red;
    cursor: pointer;
}

#reminder{
  border-left: 5px solid green;
 padding-left: 3px;
}